body{
  font-family: 'Lato', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-brand img{
  width: 70px;
  
}
.navbar{
  box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  height: 64px !important;
}

.header{
  height: 70vh;
  background: url("./images/banner.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 70px 0;
  margin-top: 64px;
}
.cart__icon{
  font-size: 28px;
  color: #ff6e68;

}
.basket{
  position: relative;
}
.basket span{
 position: absolute;
 top: 0;
 right: -10px;
 background-color: #2c2c2c;
 width: 20px;
 height: 20px;
 color: white;
 border-radius: 50px;
 display: flex;
 align-items: center;
 justify-content: center;
}
.product__img{
  width: 100%;
  overflow: hidden;
}
.product__img img{
  width: 100%;
  transition: 0.7s ease;

}
.product__img img:hover{
  transform: scale(1.1);
}
.home{
  padding: 60px 40px;
  overflow: hidden;

}
.product__data{
  width: 100%;
}
.product__name{
  text-transform: uppercase;
  margin: 10px 0;
  text-align: center;
  color: #707070; 
  height: 75px;
  padding: 20px 0;

}
.product__dis__price{
  text-align: right;
}
.product__price ,.product__dis__price{
  font-weight: bold;

}
.product__data{
  padding: 30px 0;
}
.dis{
  color: silver;
  font-size: 13px;
  font-weight: 400;
  padding: 0 7px;
}
.cutt{
  text-decoration: line-through;
}
.details{
margin-top: 64px;
}
.a{
  padding: 30px 0;

}
.detail__img{
  width: 100%;
  background-size: contain;
  margin: 20px ;
  
}
.detail__name{
  font-size: 20px;
  text-transform: uppercase;
  padding: 20px 15px;
  font-weight: 700;
  
}
.detail__prices{
  margin: 20px 15px;
}
.detail__price{
  text-decoration: line-through;
  margin: 0 10px;
  font-size: 25px;
}
.detail__dis__price{
  color: #ff6e68;
  font-size: 15px;
  margin: 0 10px;

}

.detail__quantity{
  display: flex;
  margin: 30px 15px;
}
.dec,.inc,.qty{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #707070;
  height: 45px;
  width: 45px;
}
.qty{
  border-left: none;
  border-right: none;
}
.inc,.dec{
  cursor: pointer;
}

.btn__default{
  border: none;
  outline: none; 
  background-color: #ff6e68;
  color: white;
  text-transform: uppercase;
  width: 100%;
  margin-left: 8px;
}
.detail__des{
  margin: 20px 15px;
  text-align: center;
  font-weight: 400;
}
.cart{
  margin-top: 100px;

}
.coll-9{
  width: 70%;
  padding: 15px;
}
.cart__heading{
  background-color: #f4f6f8;
  width: 100%;
  display: flex;
  padding: 15px;
  margin: 20px 0;
  flex-wrap: wrap;
  justify-content: space-around;
}
.coll-2{
  width: 13.999999%;
  padding: 0px 20px;
  text-align: center;
  text-transform: capitalize;

}
.cart__data{
  display: flex;
  margin: 20px 0;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cart__img img{
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.cart__IncDec{
display: flex;
}
.roww{
  display: flex;

  flex-wrap: wrap;
}
.coll-3{
  width: 20%;
  margin-top: 30px;
  /* background-color: #707070; */
}
.summary{
  margin: 35px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
 align-items: center;

}
.summary h2{
border-bottom: 1px solid #f4f6f8;
padding: 10px 0;
 
}
.summary__prices,.summary__qty{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}
.summary__heading{
  background-color: #f4f6f8;
}
.btn__check{
  border: none;
  outline: none; 
  background-color: #ff6e68;
  color: white;
  text-transform: uppercase;
  width: 100%;
  margin-left: 8px;
  padding: 10px 20px;
}









@media (max-width: 765px){
  .header{
  height: 50vh;
  background-size: contain;
  padding: 40px 0;
  }
  .detail__img img{
text-align: center;
  }
  .coll-9{
    width: 100%;
  
  }
  .coll-2{
    width: 100%;
    padding: 20px 0;
  
    
  }
  .cart__heading{
    display: none;
  }
  .cart__data{
    width: 100%;

    padding: 0;
    margin: 0;
    border: 2px solid #f4f6f8;
    margin: 15px 0;
  }
  .cart__IncDec{
    
    
    width: 100%;
    justify-content: center;
  }
  .summary{
    width: 100%;
    background-color: aquamarine;
    background-color: #707070;

  }
  .summary__prices{
    background-color: aqua;
    width: 100%;
  }
.basket{
  position: relative;
}
.basket span{
  position: absolute;
  top: 10;
  left:0;
}
  
}